<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Riley Testut</string>
		<key>link</key>
		<string>https://github.com/rileytestut</string>
		<key>linkName</key>
		<string>GitHub</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Creator of Delta</string>
				<key>link</key>
				<string>https://github.com/rileytestut/Delta</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>nythepegasus</string>
		<key>link</key>
		<string>https://github.com/nythepegasus</string>
		<key>linkName</key>
		<string>GitHub</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Setup Build.xcconfig</string>
				<key>link</key>
				<string>https://github.com/LitRitt/Ignited/pull/30</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hayssam Keilany</string>
		<key>link</key>
		<string>https://github.com/icelaglace</string>
		<key>linkName</key>
		<string>GitHub</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Better NES palette</string>
				<key>link</key>
				<string>https://github.com/icelaglace/NESDeltaCore/commit/28766b419a3b939619318990fb030e3bddad671c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah Keck</string>
		<key>link</key>
		<string>https://github.com/noah978</string>
		<key>linkName</key>
		<string>GitHub</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Creator of CheatBase</string>
				<key>link</key>
				<string>https://github.com/CheatBase/CheatBase</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ian Clawson</string>
		<key>link</key>
		<string>https://github.com/ianclawson</string>
		<key>linkName</key>
		<string>GitHub</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Extended MFi Support</string>
				<key>link</key>
				<string>https://github.com/lonkelle/Deltroid/pull/7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Local Multiplayer</string>
				<key>link</key>
				<string>https://github.com/lonkelle/Deltroid/pull/9</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
