<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Riley Testut</string>
		<key>link</key>
		<string>https://github.com/rileytestut</string>
		<key>linkName</key>
		<string>github.com/rileytestut</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Delta</string>
				<key>link</key>
				<string>https://github.com/rileytestut/Delta</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hayssam Keilany</string>
		<key>link</key>
		<string>https://github.com/icelaglace</string>
		<key>linkName</key>
		<string>github.com/icelaglace</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Gameboy DMG and Pocket color palettes</string>
				<key>link</key>
				<string>https://github.com/icelaglace/GameBoyPalettes</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Better NES palette</string>
				<key>link</key>
				<string>https://github.com/icelaglace/NESDeltaCore/commit/28766b419a3b939619318990fb030e3bddad671c</string>
			</dict>
			<dict>
				<key>name</key>
				<string>N64 joystick fix and Mempak fix</string>
				<key>link</key>
				<string>https://github.com/icelaglace/N64DeltaCore/commit/61accb34a8e0bd23d92b91f64ee4bfe9fa94452f</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah Keck</string>
		<key>link</key>
		<string>https://github.com/noah978</string>
		<key>linkName</key>
		<string>github.com/noah978</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>CheatBase</string>
				<key>link</key>
				<string>https://github.com/CheatBase/CheatBase</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ian Clawson</string>
		<key>link</key>
		<string>https://github.com/ianclawson</string>
		<key>linkName</key>
		<string>github.com/ianclawson</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Extended MFi Support</string>
				<key>link</key>
				<string>https://github.com/lonkelle/Deltroid/pull/7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Local Multiplayer</string>
				<key>link</key>
				<string>https://github.com/lonkelle/Deltroid/pull/9</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Joelle Stickney</string>
		<key>link</key>
		<string>https://github.com/lonkelle</string>
		<key>linkName</key>
		<string>github.com/lonkelle</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Deltroid</string>
				<key>link</key>
				<string>https://github.com/lonkelle/Deltroid</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Eric Lewis</string>
		<key>link</key>
		<string>https://github.com/ericlewis</string>
		<key>linkName</key>
		<string>github.com/ericlewis</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Dark Mode</string>
				<key>link</key>
				<string>https://github.com/rileytestut/Delta/pull/82</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Caroline Moore</string>
		<key>link</key>
		<string>https://twitter.com/1carolinemoore</string>
		<key>linkName</key>
		<string>@1carolinemoore</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Legacy Skins</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Grant Gliner</string>
		<key>link</key>
		<string>https://twitter.com/GrantGliner</string>
		<key>linkName</key>
		<string>@GrantGliner</string>
		<key>contributions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Pause Menu Icons</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
