<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Patreon</string>
		<key>link</key>
		<string>https://www.patreon.com/litritt</string>
		<key>linkName</key>
		<string>Join</string>
	</dict>
</array>
</plist>
