<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Joelle (Lonkelle)</string>
		<key>link</key>
		<string>https://bit.ly/lonkelle-twitter-profile</string>
		<key>linkName</key>
		<string>@Lonkelle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jsaliby</string>
		<key>link</key>
		<string>https://discord.com/users/386281545532440578</string>
		<key>linkName</key>
		<string>@jsaliby#4138</string>
	</dict>
</array>
</plist>
