<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>version</key>
		<string>1.2.4</string>
		<key>date</key>
		<string>4/11/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.2.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Disabled auto-load save on DSi Home Screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed cheats, save, load, and rewind pause menu items from DSi Home Screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed cheats from DS Home Screen</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.3</string>
		<key>date</key>
		<string>4/10/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.2.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Updates screen will now be shown once per update at launch</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updates screen now includes dates for all versions</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.2</string>
		<key>date</key>
		<string>4/9/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.2.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game Volume - Change the game volume relative to your device volume</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Toggle for whether game audio should play when other audio is playing in the background</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated OpenVGDB database</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.1</string>
		<key>date</key>
		<string>4/9/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.2.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Audio Button Feedback - option to play a sound when a controller skin input is pressed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Raise minimum iOS to 14.0 - Removed all legacy code</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed laggy sliders in settings that could crash the app when paused</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.0</string>
		<key>date</key>
		<string>4/8/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.2.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Touch Overlays - Get visual feedback about what buttons are currently pressed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Options for size, opacity, and color of touch overlays</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Resume Button added to game collection screen beside the page dots</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed controller skins losing transparency on device rotation</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.4</string>
		<key>date</key>
		<string>4/6/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.1.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Re-enabled Save State Rewind - Disabled on GBC to prevent crashes with gambette</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added new Advanced section to settings - Moved alt skin and debug toggles there</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Custom fast forward speed is now default - Toggle removed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed the Always Show Skin settings not working on DS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.3</string>
		<key>date</key>
		<string>4/5/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.1.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added option for clicky haptic feedback - A more rigid haptic impulse will be sent on both button press and release</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added slider for haptic feedback strength</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.2</string>
		<key>date</key>
		<string>4/2/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.1.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Made auto save states syncable</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the restart game button available to skins and controllers</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the current game highlighting stand out more</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed last unthemed elements buried in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.1</string>
		<key>date</key>
		<string>4/2/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.1.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated toast notification logic to prevent multiple toasts being shown at once</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.0</string>
		<key>date</key>
		<string>4/1/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.1.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added a toggle to automatically load the last auto save when launching a game</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added toggle to enabled/disabled in-game toast notifications</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Removed the Resume Game prompt from the game selection screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added a Restart Game pause menu button</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.2</string>
		<key>date</key>
		<string>4/1/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.0.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added color highlighting to currently running game</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Make artwork spacing dynamic like size</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed some artwork bugs caused by resizing</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.1</string>
		<key>date</key>
		<string>3/30/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.0.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed a link in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.0</string>
		<key>date</key>
		<string>3/30/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v1.0.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>App Theming - Choose from a variety of colors to change the tint and app icon of Ignited. Emulate in your own style!</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Album artwork now has rounded corners, contrasting borders, and a drop shadow</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Can now change the artwork size between small, medium, and large</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Default box-art now features the cartridge of their respective system</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Custom fast-forward is enabled by default</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Default speed changed to 4x</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Removed 4x from unsafe speeds</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.7.1</string>
		<key>date</key>
		<string>3/19/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.7.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Alternate Skin pause menu item now only shows is the current skin supports it</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Debug Mode pause menu item now only shows if the current skin&apos;s debug property is set to true, or debug mode is manually enabled in settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Reordered save state menu sections. General at the top and Quick/Auto at the bottom</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Rebrand to from Delta Ignited to just Ignited</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.7.0</string>
		<key>date</key>
		<string>3/18/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.7.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Alt Skins - An alternate skin appearance that can be swapped to from a skin or menu item</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Toast Notifications - You will now receive short in-game popups when you save, load, or toggle something</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Always Show Skin Toggle - You now have the option to always show the skin image, even when a controller connected</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game will auto-save on every fast forward activation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>In-App Debug Toggle</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated footer descriptions for Controller Skin Options and Fast Forward sections in settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added Alternate Skin and Debug Mode pause menu items</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed a bug where the user preferred DS core was changed to MelonDS every time the app started</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.3</string>
		<key>date</key>
		<string>3/11/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.6.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Access custom fast forward speeds from in-game menu and skin buttons</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Make users accept a warning prompt to access 4x and faster speeds</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add 150% speed setting</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Game will auto-save on every fast forward activation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Number of auto-saves increased from 2 to 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.2</string>
		<key>date</key>
		<string>3/5/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.6.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Support for patron OTA installation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fix controller skin previews not showing on standard size iPhones</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.1</string>
		<key>date</key>
		<string>3/4/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.6.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Change formatting of updates screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Move updates to its own section in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.0</string>
		<key>date</key>
		<string>3/3/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.6.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>In-app updates changelog</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.3</string>
		<key>date</key>
		<string>3/3/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.5.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update local multiplayer controller settings logic</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Remove rewind feature due to crashes</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.2</string>
		<key>date</key>
		<string>2/26/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.5.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add new GBC skin with matching style and previews</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.1</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.5.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Implemented preview feature in default GBA skin</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.0</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.5.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Controller skin previews in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.4.1</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.4.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the custom fast forward speed popup pretty and informative</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed crashes on iPad related to popup menus</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed crash in player 2-4 settings page</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.4.0</string>
		<key>date</key>
		<string>2/24/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.4.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Custom fast forward speed settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.3.0</string>
		<key>date</key>
		<string>2/23/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.3.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Links to skin download sites added to settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Inset and rounded settings tables</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add/update footers for all settings sections</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.2.1</string>
		<key>date</key>
		<string>2/21/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.2.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Genesis core made available</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Remove beta checks</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update contributors page</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Genesis file extension fix</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.2.0</string>
		<key>date</key>
		<string>2/20/2023</string>
		<key>link</key>
		<string>https://github.com/Lit-Development/Delta-Ignited/releases/tag/v0.2.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Extended MFi input support</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Save state rewind</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Local multiplayer</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update contributors page</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update links in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.1.0</string>
		<key>date</key>
		<string>2/19/2023</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New app icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New box art</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New DS home icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New launch screen icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New default GBA skin</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
