<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>version</key>
		<string>1.4.8</string>
		<key>date</key>
		<string>6/25/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.8</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Rotation Lock - Adds a pause menu button to lock device rotation during gameplay</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Adds an option to play a 3 second countdown between initiating and capturing a game screenshot</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Default skins with blurred backgrounds have been adjusted to look seamless on all device sizes</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New icon for hold buttons pause menu button</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Speed up importing compressed games in ZIP format by skipping checksum verification</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes game screenshots being saved to Photos as JPEG instead of PNG</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.7</string>
		<key>date</key>
		<string>6/19/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.7</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Classic skins have been added to the Skin Downloads section in settings for users who want to use the old Delta skins</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated NES default skin with new design</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Default skins with new design have been updated to utilize the new backgroundBlur key</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Allows skin preview images to be in either pdf or png format</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated logic for when the background blur pause menu button should show</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes an issue with the default GBA E2E landscape skin image</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.6</string>
		<key>date</key>
		<string>6/17/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.6</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Background blur toggle now available in the pause menu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Background blur options now available in the quick settings menu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds support for skin representations with the backgroundBlur key</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds an option to override the backgroundBlur setting of a skin</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Disables background blur on GPGX core for the time being</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Reverts and updates pause menu icons</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes N64 screens going black when toggling background blur</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.5</string>
		<key>date</key>
		<string>6/16/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.5</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Blurred game backgrounds for skins - Options to enable/disable, change blur strength, and adjust the brightness</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Option to change the N64 graphics rendering API between OpenGL ES 2 and OpenGL ES 3</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds support for skins with .ignitedskin extension to differentiate between legacy Delta skins and new Ignited skins</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds more mappable inputs for controllers</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes overlapping buttons when mapping controller inputs</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes crashes on N64 when opening menu and saving state</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.4</string>
		<key>date</key>
		<string>6/7/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Adds several new alternate app icons and an interface to change between them</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Adds an option within every feature to reset all options to their default values, and a power user option to reset all options at once</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Adds an option to change the intensity of the favorite games highlight glow</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Makes the reset artwork feature work with the DS home screen icons</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Makes rewind deleting its states on rewinding or quitting the game a toggleable option - Allows the rewind feature to be used as a persistent secondary auto-save method</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes artwork size setting not applying until swiping to a new page</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.3</string>
		<key>date</key>
		<string>6/4/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds an option for custom touch overlay color</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Creates a new feature section called Games Collection - Moves settings previously found in Game Artwork Customization into separate sections within the Games Collection feature set</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Makes Favorites features respect whether the feature is actually enabled</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes lag when changing settings with animated artwork in the background</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes animated artwork losing transparency when downsampling</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.2</string>
		<key>date</key>
		<string>6/3/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Quick Settings - Quick access to game options and actions: screenshot, save, load, volume, game speed, palettes - Accessible from a controller/skin button as well as the pause menu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New options for game title size and max lines, available in User Interface Features -&gt; Game Artwork Customization</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes crash on iPad when resolving sync merge conflicts</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes accidentally deleting Games directory during sync in rare circumstances</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4.1</string>
		<key>date</key>
		<string>5/14/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Adds an option to reset game artwork to the one provided by the games database</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes cancelling some pause menu popups causing the game to freeze</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes incorrect checkmarks next to selected palette for sprite 1 and 2</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes preview save state being overwritten by auto save state</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.4</string>
		<key>date</key>
		<string>5/13/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Settings page has been completely revamped and reorganized - Many existing features received improvements as they were moved</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game Boy color palettes - Several built in palettes and 3 user customizable palettes - Both the main and sprite palettes can be changed, allowing for unique palettes never before possible</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Custom Theme Color - Choose your own color to use for the app accent color</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Favorite Games - Games can be favorited, with options to highlight and sort them to the top of the games list</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game Sorting - You can now sort games A-Z, Z-A, most recently played, and least recently played</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Animated Game Artwork - Support for short animated GIFs as your game artwork, with options for animation pause and speed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Burnt a bunch of bugs - My commits were awful and I don&apos;t remember, but I definitely fixed stuff</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.3.0</string>
		<key>date</key>
		<string>4/28/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.3.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Skin Debug Device - Switch to another device type when debugging a skin, useful for testing skins on devices you don&apos;t own</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Adds toasts notifications for more actions</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Now creates an auto save state when saving in-game, fixes old autosaves overwriting game data when loaded</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes the Resume button not working with auto-load save states disabled</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixes the pause menu not fully showing in landscape with 2 rows of buttons</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.10</string>
		<key>date</key>
		<string>4/23/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.10</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>New Screenshot options - Save to Files, Save to Photos, Image Scale</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Forced light status bar during gameplay</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated licenses page formatting</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Reordered pause menu buttons and adjusted spacing to 4 items per row</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Adjusted settings slider labels to fit with bold system text</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed unimplemented swipable page control</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.9</string>
		<key>date</key>
		<string>4/18/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.9</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added page for Lit Patrons shoutout</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Changed rewind to be disabled by default</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed a crash when toggling clicky haptics</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed unsupported file extensions on GPGX</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.8</string>
		<key>date</key>
		<string>4/16/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.8</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added toggle to show or hide the status bar while in-game</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added Resource Links section to settings - Added Rom Patcher JS and DS Save Converter links</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added remaining file extensions for all systems supported by the Genesis Plus GX core</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.7</string>
		<key>date</key>
		<string>4/15/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.7</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added options to toggle game artwork borders, shadows, and rounded corners</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added confirmation popup to advanced settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Game screenshots are now scaled up by 5x before being saved</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.6</string>
		<key>date</key>
		<string>4/14/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.6</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game Screenshots - save a screenshot of the game screen to your photos with a pause menu item or controller skin button</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.5</string>
		<key>date</key>
		<string>4/12/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.5</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed importing game saves with auto-load save state enabled</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added advanced setting to clear auto save states from every game</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.4</string>
		<key>date</key>
		<string>4/11/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Disabled auto-load save on DSi Home Screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed cheats, save, load, and rewind pause menu items from DSi Home Screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Removed cheats from DS Home Screen</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.3</string>
		<key>date</key>
		<string>4/10/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Updates screen will now be shown once per update at launch</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updates screen now includes dates for all versions</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.2</string>
		<key>date</key>
		<string>4/9/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game Volume - Change the game volume relative to your device volume</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Toggle for whether game audio should play when other audio is playing in the background</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated OpenVGDB database</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.1</string>
		<key>date</key>
		<string>4/9/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Audio Button Feedback - option to play a sound when a controller skin input is pressed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Raise minimum iOS to 14.0 - Removed all legacy code</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed laggy sliders in settings that could crash the app when paused</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.2.0</string>
		<key>date</key>
		<string>4/8/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.2.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Touch Overlays - Get visual feedback about what buttons are currently pressed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Options for size, opacity, and color of touch overlays</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Resume Button added to game collection screen beside the page dots</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed controller skins losing transparency on device rotation</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.4</string>
		<key>date</key>
		<string>4/6/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.1.4</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Re-enabled Save State Rewind - Disabled on GBC to prevent crashes with gambette</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added new Advanced section to settings - Moved alt skin and debug toggles there</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Custom fast forward speed is now default - Toggle removed</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed the Always Show Skin settings not working on DS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.3</string>
		<key>date</key>
		<string>4/5/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.1.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added option for clicky haptic feedback - A more rigid haptic impulse will be sent on both button press and release</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added slider for haptic feedback strength</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.2</string>
		<key>date</key>
		<string>4/2/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.1.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Made auto save states syncable</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the restart game button available to skins and controllers</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the current game highlighting stand out more</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed last unthemed elements buried in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.1</string>
		<key>date</key>
		<string>4/2/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.1.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated toast notification logic to prevent multiple toasts being shown at once</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.1.0</string>
		<key>date</key>
		<string>4/1/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.1.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added a toggle to automatically load the last auto save when launching a game</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added toggle to enabled/disabled in-game toast notifications</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Removed the Resume Game prompt from the game selection screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added a Restart Game pause menu button</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.2</string>
		<key>date</key>
		<string>4/1/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.0.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Added color highlighting to currently running game</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Make artwork spacing dynamic like size</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed some artwork bugs caused by resizing</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.1</string>
		<key>date</key>
		<string>3/30/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.0.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed a link in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>1.0.0</string>
		<key>date</key>
		<string>3/30/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v1.0.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>App Theming - Choose from a variety of colors to change the tint and app icon of Ignited. Emulate in your own style!</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Album artwork now has rounded corners, contrasting borders, and a drop shadow</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Can now change the artwork size between small, medium, and large</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Default box-art now features the cartridge of their respective system</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Custom fast-forward is enabled by default</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Default speed changed to 4x</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Removed 4x from unsafe speeds</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.7.1</string>
		<key>date</key>
		<string>3/19/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.7.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Alternate Skin pause menu item now only shows is the current skin supports it</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Debug Mode pause menu item now only shows if the current skin&apos;s debug property is set to true, or debug mode is manually enabled in settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Reordered save state menu sections. General at the top and Quick/Auto at the bottom</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Rebrand to from Delta Ignited to just Ignited</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.7.0</string>
		<key>date</key>
		<string>3/18/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.7.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Alt Skins - An alternate skin appearance that can be swapped to from a skin or menu item</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Toast Notifications - You will now receive short in-game popups when you save, load, or toggle something</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Always Show Skin Toggle - You now have the option to always show the skin image, even when a controller connected</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Game will auto-save on every fast forward activation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>In-App Debug Toggle</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Updated footer descriptions for Controller Skin Options and Fast Forward sections in settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Added Alternate Skin and Debug Mode pause menu items</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed a bug where the user preferred DS core was changed to MelonDS every time the app started</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.3</string>
		<key>date</key>
		<string>3/11/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.6.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Access custom fast forward speeds from in-game menu and skin buttons</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Make users accept a warning prompt to access 4x and faster speeds</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add 150% speed setting</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Game will auto-save on every fast forward activation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Number of auto-saves increased from 2 to 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.2</string>
		<key>date</key>
		<string>3/5/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.6.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Support for patron OTA installation</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fix controller skin previews not showing on standard size iPhones</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.1</string>
		<key>date</key>
		<string>3/4/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.6.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Change formatting of updates screen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Move updates to its own section in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.6.0</string>
		<key>date</key>
		<string>3/3/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.6.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>In-app updates changelog</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.3</string>
		<key>date</key>
		<string>3/3/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.5.3</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update local multiplayer controller settings logic</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Remove rewind feature due to crashes</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.2</string>
		<key>date</key>
		<string>2/26/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.5.2</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add new GBC skin with matching style and previews</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.1</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.5.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Implemented preview feature in default GBA skin</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.5.0</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.5.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Controller skin previews in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.4.1</string>
		<key>date</key>
		<string>2/25/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.4.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Made the custom fast forward speed popup pretty and informative</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed crashes on iPad related to popup menus</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Fixed crash in player 2-4 settings page</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.4.0</string>
		<key>date</key>
		<string>2/24/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.4.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Custom fast forward speed settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.3.0</string>
		<key>date</key>
		<string>2/23/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.3.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Links to skin download sites added to settings</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Inset and rounded settings tables</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Add/update footers for all settings sections</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.2.1</string>
		<key>date</key>
		<string>2/21/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.2.1</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Genesis core made available</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Remove beta checks</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update contributors page</string>
			</dict>
			<dict>
				<key>type</key>
				<string>bugfix</string>
				<key>description</key>
				<string>Genesis file extension fix</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.2.0</string>
		<key>date</key>
		<string>2/20/2023</string>
		<key>link</key>
		<string>https://github.com/LitRitt/Delta-Ignited/releases/tag/v0.2.0</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Extended MFi input support</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Save state rewind</string>
			</dict>
			<dict>
				<key>type</key>
				<string>feature</string>
				<key>description</key>
				<string>Local multiplayer</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update contributors page</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>Update links in settings</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>version</key>
		<string>0.1.0</string>
		<key>date</key>
		<string>2/19/2023</string>
		<key>changes</key>
		<array>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New app icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New box art</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New DS home icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New launch screen icon</string>
			</dict>
			<dict>
				<key>type</key>
				<string>update</string>
				<key>description</key>
				<string>New default GBA skin</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
