// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Ignited/Pods-Ignited.debug.xcconfig"
#include "CodeSigning.xcconfig"

MARKETING_VERSION = 1.11
CURRENT_PROJECT_VERSION = 237

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME       = Ignited
PRODUCT_NAME_DEBUG = Ignited

PRODUCT_BUNDLE_IDENTIFIER       = $(ORG_PREFIX).ignited
PRODUCT_BUNDLE_IDENTIFIER_DEBUG = $(ORG_PREFIX).ignited

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = group.$(PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME)
WIDGET_IDENTIFIER           = $(EXTENSION_PREFIX).LitWidget
