// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Ignited/Pods-Ignited.debug.xcconfig"
#include "CodeSigning.xcconfig"

MARKETING_VERSION = 1.8.3
CURRENT_PROJECT_VERSION = 153

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME       = Ignited
PRODUCT_NAME_DEBUG = Pre-Ignited

PRODUCT_BUNDLE_IDENTIFIER       = $(ORG_PREFIX).ignited
PRODUCT_BUNDLE_IDENTIFIER_DEBUG = $(ORG_PREFIX).ignited.debug

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = $(PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME)
